In [1]:
from func_adl_servicex import ServiceXSourceXAOD

In [2]:
dataset_name = "mc15_13TeV:mc15_13TeV.361106.PowhegPythia8EvtGen_AZNLOCTEQ6L1_Zee.merge.DAOD_STDM3.e3601_s2576_s2132_r6630_r6264_p2363_tid05630052_00"
src = ServiceXSourceXAOD(dataset_name, backend='dev_atlas')

In [3]:
df = (src
        .Select(lambda event: event.EventInfo("EventInfo"))
        .Select(lambda info: info.runNumber())
        .AsPandasDF('run')
        .value())

mc15_13TeV:mc15_13Te...:   0%|          | 0/9000000000.0 [00:00]

        mc15_13TeV:mc15_13Te... Downloaded:   0%|          | 0/9000000000.0 [00:00]

In [4]:
df

             run
0       222510.0
1       222510.0
2       222510.0
3       222510.0
4       222510.0
...          ...
149995  222510.0
149996  222510.0
149997  222510.0
149998  222510.0
149999  222510.0

[1993800 rows x 1 columns]